#form-outer-container{
  margin-top: 2em;
  text-align: center;
}

#form-inner-container{
  text-align: left;
  display: inline-block;
  label{
    margin-top: 1em;
  }
}

input[type="submit"]{
  margin-top: 1em;
}

a.navigation-link {
  float: right;
}

.required-field{
  color: red;
}